openapi: 3.1.0
servers:
  - url: https://ti.bfarm.de
    description: BfArM Schnittstelle TI Dienste
  - url: https://ti-dev.bfarm.de
    description: Test-Schnittstelle BfArM TI Dienste
info:
  title: API des BfArM
  version: 0.9.0
  description: API des BfArM zur elektronsichen Bereitstellung von Daten der TI

tags:
  - name: T-Register
    description: Endpunkte zur Bereitstellung von digitalen Durchschlägen zum T-Rezept
  - name: BtM-Register
    description: TBD
  
paths:
  /t-prescription-json:
    post:
        tags:
          - T-Register
        summary: Digitaler Durchschlag T-Rezept mit JSON
        description: Bereitstellen eines digitalen Durchschlags eines T-Rezept für das T-Register
        security:
          - mTLS: []
        x-request-route:
          - "Internet"
        x-allowed-requester:
          - "eRp"
        requestBody:
          required: true
          content:
              application/json:
                example:
                  $ref: '../bfarm-temp/example-bfarm-t-prescription-cc.json'
                schema:
                  $ref: '#/components/schemas/MedicationDataset'
        responses:
          '201':
            description: Die Anfrage wurde erfolgreich bearbeitet. Der digitale Durchschlag wurde im T-Register eingestellt.
            content:
              application/json:
                example:
                  $ref: '../bfarm-temp/example-bfarm-t-prescription-cc.json'
                schema:
                  $ref: '#/components/schemas/MedicationDataset'
          '400':
            description: Die Anfrage-Nachricht war fehlerhaft aufgebaut.
          '401':
            description: Die Anfrage kann nicht ohne gültige Authentifizierung durchgeführt werden. Wie die Authentifizierung durchgeführt werden soll, wird im "WWW-Authenticate"-Header-Feld der Antwort übermittelt.
          '403':
            description: Die Anfrage wurde mangels Berechtigung des Clients nicht durchgeführt, bspw. weil der authentifizierte Benutzer nicht berechtigt ist.
          '405':
            description: Die Anfrage darf nur mit anderen HTTP-Methoden (zum Beispiel GET statt POST) gestellt werden. Gültige Methoden für die betreffende Ressource werden im "Allow"-Header-Feld der Antwort übermittelt.
          '429':
            description: Der Client hat zu viele Anfragen in einem bestimmten Zeitraum gesendet.
          '500':
            description: Unerwarteter Serverfehler.
  /t-prescription-fhir:
    post:
        tags:
          - T-Register
        summary: Digitaler Durchschlag T-Rezept mit FHIR
        description: Bereitstellen eines digitalen Durchschlags eines T-Rezept für das T-Register
        security:
          - mTLS: []
        x-allowed-requester:
          - "eRp"
        x-request-route:
          - "Internet"
        requestBody:
          required: true
          x-fhir-profile: 
            - "https://gematik.de/fhir/erp-bfarm/StructureDefinition/GEM_ERP_PR_PAR_T_Prescription_cc"
          content:
              application/json+fhir:
                example:
                  $ref: 'https://raw.githubusercontent.com/gematik/fhir-profiles-erp/refs/heads/test/bfarm-t-prescription/Resources/fsh-generated/resources/Parameters-Example-T-Prescription-CC-Post.json'
        responses:
          '201':
            description: Die Anfrage wurde erfolgreich bearbeitet. Der digitale Durchschlag wurde im T-Register eingestellt.
            content:
              application/json+fhir:
                example:
                  $ref: 'https://raw.githubusercontent.com/gematik/fhir-profiles-erp/refs/heads/test/bfarm-t-prescription/Resources/fsh-generated/resources/Parameters-Example-T-Prescription-CC-Post.json'
          '400':
            description: Die Anfrage-Nachricht war fehlerhaft aufgebaut.
          '401':
            description: Die Anfrage kann nicht ohne gültige Authentifizierung durchgeführt werden. Wie die Authentifizierung durchgeführt werden soll, wird im "WWW-Authenticate"-Header-Feld der Antwort übermittelt.
          '403':
            description: Die Anfrage wurde mangels Berechtigung des Clients nicht durchgeführt, bspw. weil der authentifizierte Benutzer nicht berechtigt ist.
          '405':
            description: Die Anfrage darf nur mit anderen HTTP-Methoden (zum Beispiel GET statt POST) gestellt werden. Gültige Methoden für die betreffende Ressource werden im "Allow"-Header-Feld der Antwort übermittelt.
          '429':
            description: Der Client hat zu viele Anfragen in einem bestimmten Zeitraum gesendet.
          '500':
            description: Unerwarteter Serverfehler.
    
  
components:
  securitySchemes:
    mTLS:
      description: Authentication via mutualTLS
      type: mutualTLS
  schemas:
     MedicationDataset:
      type: object
      properties:
        signatureDate:
          type: string
          format: date
          description: "Datum der Signatur QES des Verordnungsdatensatzes"
        prescriptionID:
          type: string
          description: "Rezept-ID (Task.identifier[PrescriptionID].value)"
        prescribedMedication:
          type: object
          properties:
            name:
              type: string
              description: "Bezeichnung des Fertigarzneimittels oder des Wirkstoffes einschließlich der Stärke ODER Rezeptur"
            dosageForm:
              type: string
              description: "Darreichungsform des verordneten Arzneimittels"
            quantity:
              type: number
              description: "Abzugebende Menge des verordneten Arzneimittels"
            dosage:
              type: string
              description: "Dosierung des verordneten Arzneimittels"
            duration:
              type: string
              description: "Reichdauer des verordneten Arzneimittels (offen)"
          required: ["name", "dosageForm", "quantity"]
        dispensedMedication:
          type: object
          properties:
            name:
              type: string
              description: "Bezeichnung des Fertigarzneimittels oder des Wirkstoffes einschließlich der Stärke ODER Rezeptur"
            dosageForm:
              type: string
              description: "Darreichungsform des abgebenden Arzneimittels"
            quantity:
              type: number
              description: "Abzugebende Menge des abgebenden Arzneimittels"
            dosage:
              type: string
              description: "Dosierung des abgebenden Arzneimittels"
          required: ["name", "dosageForm", "quantity"]
        pharmacy:
          type: object
          properties:
            name:
              type: string
              description: "Name der Apotheke"
            address:
              type: string
              description: "Anschrift der Apotheke"
            phone:
              type: string
              description: "Telefonnummer der Apotheke (optional)"
          required: ["name", "address"]
        dispenseDate:
          type: string
          format: date
          description: "Das Datum der Abgabe"
        confirmations:
          type: object
          properties:
            safetyMeasures:
              type: boolean
              description: "Bestätigung der ärztlichen Person über Sicherheitsmaßnahmen gemäß Fachinformation"
            informationMaterial:
              type: boolean
              description: "Bestätigung, dass medizinische Informationsmaterialien ausgehändigt wurden"
            offLabelUse:
              type: boolean
              description: "Angabe, ob eine Behandlung außerhalb der zugelassenen Anwendungsgebiete erfolgt"
            prescriptionForWoman:
              type: boolean
              description: "Angabe, ob es sich um eine Verschreibung für eine gebärfähige Frau handelt"
            expertiseConfirmation:
              type: boolean
              description: "Bestätigung der ärztlichen Person über ausreichende Sachkenntnisse"
          required: ["safetyMeasures", "informationMaterial"]
      required:
        - signatureDate
        - prescriptionID
        - prescribedMedication
        - dispensedMedication
        - pharmacy
        - dispenseDate