openapi: 3.0.3
servers:
  - url: https://webapps-public.bfarm.de
    description: BfArM Schnittstelle TI Dienste
  - url: https://webapps-public-test.bfarm.de
    description: Test-Schnittstelle BfArM TI Dienste
info:
  title: API des BfArM
  version: 0.9.0
  description: API des BfArM zur elektronsichen Bereitstellung von Daten aus der TI

tags:
  - name: T-Register
    description: Endpunkte zur Bereitstellung von digitalen Durchschlägen zum E-T-Rezept
  
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://webapps-public.bfarm.de/ords/rezepte/oauth/token
          scopes: {}

security:
  - OAuth2ClientCredentials: []

paths:
  /ords/rezepte/t-rezept/v1:
    post:
        tags:
          - T-Register
        summary: Bereitstellung Digitaler Durchschlag E-T-Rezept
        description: Bereitstellen eines digitalen Durchschlags eines E-T-Rezept für das T-Register des BfArM
        parameters:
        - name: X-Request-ID
          in: header
          description: A unique identifier for tracking the request.
          required: false
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        x-allowed-requester:
          - "eRp"
        x-request-route:
          - "Internet"
        requestBody:
          required: true
          x-fhir-profile: 
            - "https://gematik.de/fhir/erp-t-prescription/StructureMap/ERP-TPrescription-StructureMap-CarbonCopy"
          content:
              application/json+fhir:
                example:
                  $ref: 'https://raw.githubusercontent.com/gematik/spec-erp-t-prescription/refs/heads/develop/fsh-generated/resources/Parameters-TRP-Carbon-Copy.json'
        responses:
          '201':
            description: Die Anfrage wurde erfolgreich bearbeitet. Der digitale Durchschlag wurde im T-Register eingestellt.
            headers:
              X-Request-ID:
                description: The unique identifier for tracking the request, echoed back in the response.
                schema:
                  type: string
                  format: uuid
                  example: "123e4567-e89b-12d3-a456-426614174000"
            content:
              application/json+fhir:
                example:
                  $ref: 'https://raw.githubusercontent.com/gematik/spec-erp-t-prescription/refs/heads/develop/fsh-generated/resources/Parameters-TRP-Carbon-Copy.json'
          '400':
            description: Die Anfrage-Nachricht war fehlerhaft aufgebaut.
          '401':
            description: Die Anfrage kann nicht ohne gültige Authentifizierung durchgeführt werden. Wie die Authentifizierung durchgeführt werden soll, wird im "WWW-Authenticate"-Header-Feld der Antwort übermittelt.
          '403':
            description: Die Anfrage wurde mangels Berechtigung des Clients nicht durchgeführt, bspw. weil der authentifizierte Benutzer nicht berechtigt ist.
          '405':
            description: Die Anfrage darf nur mit anderen HTTP-Methoden (zum Beispiel GET statt POST) gestellt werden. Gültige Methoden für die betreffende Ressource werden im "Allow"-Header-Feld der Antwort übermittelt.
          '422':
            description: Die Anfrage konnte nicht verarbeitet werden, da die übermittelten Daten ungültig sind oder gegen die Validierungsregeln verstoßen.
            content:
              application/json: {}
          '429':
            description: Der Client hat zu viele Anfragen in einem bestimmten Zeitraum gesendet.
          '500':
            description: Unerwarteter Serverfehler.
 