openapi: 3.0.0
servers:
  - url: https://erp.zentral.erp.splitdns.ti-dienste.de
    description: E-Rezept-Fachdienst TI-Schnittstelle
  - url: https://https://erp.app.ti-dienste.de
    description: E-Rezept-Fachdienst Internet-Schnittstelle
info:
  title: E-Rezept-Fachdienst API für EU Prescriptions und "https://gematik.de/fhir/erp/StructureDefinition/GEM_ERP_PR_PAR_EU_Access_Authorization_Request"
  version: 1.1.0
  description: API Endpunkte zur Verwaltung von Einwilligung, Zugriffscodes und E-Rezepten über den E-Rezept-Fachdienst.

tags:
  - name: Consent Management
    description: Endpunkte zur Verwaltung der Einwilligungen der Versicherten.
  - name: Access Code Management
    description: Endpunkte zur Verwaltung von Zugriffscodes für das Einlösen im EU-Ausland.
  - name: Prescription Management
    description: Endpunkte zur Abfrage und Verarbeitung von E-Rezepten.

paths:
  /Consent:
    post:
      tags:
        - Consent Management
        - internet
      summary: Zustimmung erteilen
      description: Einwilligung zum Einlösen im EU-Ausland erteilen.
      x-allowed-requester:
        - "FdV"
        - "AVS"
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer-Token zur Authentifizierung.
      requestBody:
        required: true
        content:
          application/fhir+json:
            example:
              $ref: "https://raw.githubusercontent.com/gematik/eRezept-Examples/refs/heads/feature/eu-examples/API-Examples/2025-10-01-preview/erp_eprescription/01_POST_Consent.json"
      responses:
        '200':
          description: Zustimmung erfolgreich erteilt
          headers:
            Content-Type:
              description: The media type of the response
              schema:
                type: string
                example: application/fhir+xml
          content:
            application/fhir+json:
              example:
                $ref: "https://raw.githubusercontent.com/gematik/eRezept-Examples/refs/heads/feature/eu-examples/API-Examples/2025-10-01-preview/erp_eprescription/01_POST_Consent.json"
    delete:
      tags:
        - Consent Management
      summary: Zustimmung widerrufen
      description: Widerruf der Zustimmung für das Einlösen im EU-Ausland.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer-Token zur Authentifizierung.
        - in: query
          name: category
          schema:
            type: string
          description: "Filter für die zu widerrufende Kategorie. In diesem Fall 'EUDISPCONS'."
      responses:
        '204':
          description: Zustimmung erfolgreich widerrufen

    get:
      tags:
        - Consent Management
      summary: Zustimmung einsehen
      description: Übersicht über die erteilte(n) Zustimmung(en).
      parameters:
        - in: query
          name: category
          required: false
          schema:
            type: string
          description: Category of the Consent to be retrieved < EUDISPCONS | CHARGCONS >
      responses:
        '200':
          description: Erfolgreiche Rückgabe aller erteilten Zustimmungen
          content:
            application/fhir+json:
              schema:
                type: object
                example:
                  resourceType: "Bundle"
                  id: "ExampleGetConsent"
                  type: "searchset"
                  timestamp: "2025-10-01T12:03:23Z"
                  total: 1
                  entry:
                   -  fullUrl: "https://erp-dev.zentral.erp.splitdns.ti-dienste.de/Consent/f97a0772-c99f-4159-90c6-2a41c7d96779"
                      resource: 
                        resourceType: "Consent"
                        id: "f97a0772-c99f-4159-90c6-2a41c7d96779"
                        meta:
                          profile:
                            - "https://gematik.de/fhir/erp/StructureDefinition/GEM_ERP_PR_Consent|1.5"
                        status: "active"
                        patient:
                          identifier:
                            system: "http://fhir.de/sid/gkv/kvid-10"
                            assigner:
                              identifier:
                                system: "http://fhir.de/sid/arge-ik/iknr"
                                value: "98765543"
                            value: "X123456789"
                        scope:
                          coding:
                            - code: "patient-privacy"
                              system: "http://terminology.hl7.org/CodeSystem/consentscope"
                              display: "Privacy Consent"
                        category:
                          - coding:
                              - code: "EUDISPCONS"
                                system: "https://gematik.de/fhir/erp/CodeSystem/GEM_ERP_CS_ConsentType"
                                display: "Consent for redeeming e-prescriptions in EU countries"
                        dateTime: "2025-10-01T12:03:23Z"
                        policyRule:
                          coding:
                            - code: "OPTIN"
                              system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"


  /$grant-eu-access-permission:
    post:
      tags:
        - Access Code Management
      summary: Zugriffscode erstellen
      description: Generiert einen Zugriffscode für das Einlösen eines E-Rezepts im EU-Ausland.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer-Token zur Authentifizierung.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
              example:
                resourceType: "Parameters"
                id: "Example-EU-PermissionRequest"
                meta:
                  profile:
                    - "https://gematik.de/fhir/erp/StructureDefinition/GEM_ERP_PR_PAR_EU_Access_Authorization_Request|1.5"
                parameter:
                  - name: "countryCode"
                    valueCoding:
                      system: "urn:iso:std:iso:3166"
                      code: "BE"
                  - name: "accessCode"
                    valueIdentifier:
                      system: "https://gematik.de/fhir/erp/NamingSystem/GEM_ERP_NS_EU_AccessCode"
                      value: "ABC123"
      responses:
        '200':
          description: Zugriffscode erfolgreich erstellt
          content:
            application/fhir+json:
              schema:
                type: object
                example:
                  resourceType: "Parameters"
                  id: "Example-EU-PermissionResponse"
                  meta: 
                    versionId: 1
                    profile:
                      - "https://gematik.de/fhir/erp/StructureDefinition/GEM_ERP_PR_PAR_EU_Access_Authorization_Response|1.5"
                  parameters:
                  - name: "countryCode"
                    valueCoding:
                      system: "urn:iso:std:iso:3166"
                      code: "BE"
                  - name: "accessCode"
                    valueIdentifier:
                      system: "https://gematik.de/fhir/erp/NamingSystem/GEM_ERP_NS_EU_AccessCode"
                      value: "ABC123"
                  - name: "validUntil"
                    valueInstant: "2025-10-01T13:12:32+02:00"
                  - name: "createdAt"
                    valueInstant: "2025-10-01T12:12:32+02:00"

  /$read-eu-access-permission:
    get:
      tags:
        - Access Code Management
      summary: Zugriffscode abfragen
      description: Liefert Informationen zu einem generierten Zugriffscode.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer-Token zur Authentifizierung.
      responses:
        '200':
          description: Zugriffscode erfolgreich abgefragt
          content:
            application/fhir+json:
              schema:
                type: object
                example:
                  resourceType: "Parameters"
                  id: "Example-EU-PermissionResponse"
                  meta: 
                    versionId: 1
                    profile:
                      - "https://gematik.de/fhir/erp/StructureDefinition/GEM_ERP_PR_PAR_EU_Access_Authorization_Response|1.5"
                  parameters:
                  - name: "countryCode"
                    valueCoding:
                      system: "urn:iso:std:iso:3166"
                      code: "BE"
                  - name: "accessCode"
                    valueIdentifier:
                      system: "https://gematik.de/fhir/erp/NamingSystem/GEM_ERP_NS_EU_AccessCode"
                      value: "ABC123"
                  - name: "validUntil"
                    valueInstant: "2025-10-01T13:12:32+02:00"
                  - name: "createdAt"
                    valueInstant: "2025-10-01T12:12:32+02:00"

  /$revoke-eu-access-permission:
    delete:
      tags:
        - Access Code Management
      summary: Zugriffscode widerrufen
      description: Widerruft einen Zugriffscode für das Einlösen im EU-Ausland.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: Bearer-Token zur Authentifizierung.
      responses:
        '204':
          description: Zugriffscode erfolgreich widerrufen
  
  /$get-eu-prescriptions:
    post:
      tags:
        - Prescription Management
      summary: Abrufen von E-Rezept-Daten
      description: Abrufen von demographischen Versichertendaten oder einer Liste verfügbarer bzw. ausgewählter E-Rezepte des Versicherten.
      x-requester: NCPeH
      x-responder: eRp
      parameters:
        - in: header
          name: AuthorizationHeader
          required: true
          schema:
            type: string
          description: ACCESS_TOKEN, ausgestellt vom IDP-Dienst für den NCPeH.
        - in: query
          name: _count
          schema:
            type: integer
          description: Anzahl der zurückzugebenden Einträge. Für `demographics` Use Case auf `1` gesetzt.
      requestBody:
        required: true
        content:
            application/xml:
              examples:
                demographics:
                  $ref: 'https://raw.githubusercontent.com/gematik/erezept-examples/refs/heads/feature/eu-examples/API-Examples/2025-10-01-preview/erp_eprescription/06_GET_Prescription_DEMOGRAPHICS.xml'
                prescriptions-retrieval:
                  $ref: 'https://raw.githubusercontent.com/gematik/erezept-examples/refs/heads/feature/eu-examples/API-Examples/2025-10-01-preview/erp_eprescription/06_GET_Prescription_PRESCRIPTIONS_RETRIEVAL.xml'
                prescriptions-list:
                  $ref: 'https://raw.githubusercontent.com/gematik/erezept-examples/refs/heads/feature/eu-examples/API-Examples/2025-10-01-preview/erp_eprescription/06_GET_Prescription_PRESCRIPTIONS_LIST.xml'
      responses:
        '200':
          description: Erfolgreiche Antwort mit Verschreibungsdaten, sortiert absteigend nach `MedicationRequest.authored-on`.
          content:
            application/xml:
              example:
                $ref: 'https://raw.githubusercontent.com/gematik/erezept-examples/refs/heads/feature/eu-examples/API-Examples/2025-10-01-preview/erp_eprescription/05_GET_Prescription_Bundle.xml'
        '400':
          description: Fehlerhafte Anfrage, z.B. fehlerhafter Aufbau der Anfrage.
        '401':
          description: Ungültige Authentifizierung.
        '403':
          description: Keine Berechtigung des Clients.
        '404':
          description: Keine Ergebnisse gefunden.
        '408':
          description: Zeitüberschreitung der Anfrage.
        '429':
          description: Zu viele Anfragen.
        '500':
          description: Unerwarteter Serverfehler.

  /Task/{id}/$eu-close:
    post:
      tags:
        - Prescription Management
      summary: Übermitteln von Dispensierinformationen aus dem EU-Ausland
      description: Entgegennahme von FHIR-Ressourcen, die die Dispensierinformationen aus dem EU-Ausland enthalten.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: "160.000.000.000.000.01"
          description: Prescription ID of the Task to be closed.
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: ACCESS_TOKEN, ausgestellt vom IDP-Dienst für den NCPeH.
      requestBody:
        required: true
        content:
            application/xml:
              example:
                $ref: 'https://raw.githubusercontent.com/gematik/erezept-examples/refs/heads/feature/eu-examples/API-Examples/2025-10-01-preview/erp_eprescription/07_EU_Close.xml'
      responses:
        '200':
          description: Erfolgreiche Übermittlung der Dispensierinformationen.
        '400':
          description: Fehlerhafte Anfrage, z.B. fehlerhafter Aufbau der Anfrage.
        '401':
          description: Ungültige Authentifizierung.
        '403':
          description: Keine Berechtigung des Clients.
        '404':
          description: Keine Ergebnisse gefunden.
        '408':
          description: Zeitüberschreitung der Anfrage.
        '429':
          description: Zu viele Anfragen.
        '500':
          description: Unerwarteter Serverfehler.

