openapi: 3.1.0
x-stoplight:
  id: etdwc1hg071rp
info:
  title: konnektor
  version: '1.0'
  summary: Konnektordienste und Services zur Verarbeitung von Dokumenten und Zugang zur TI
  description: |-
    # Konnektordienste

    Welche Dienste und Aufrufe werden hier beschrieben:

    * Verschlüsselung von Dokumenten
    * Entschlüsselung von Dokumentenb
    * ...
servers:
  - url: 'https://192.168.x.y'
    description: Konnektorservice
paths:
  /Konnektorservice:
    post:
      summary: read_certificate
      operationId: post-Konnektorservice
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
              description: text/xml;charset=utf-8
          content:
            text/xml:
              schema:
                type: object
                x-examples:
                  Example 1:
                    Envelope:
                      Body:
                        ReadCardCertificateResponse:
                          Status:
                            Result: OK
                          X509DataInfoList:
                            X509DataInfo:
                              X509Data:
                                X509Certificate:
                                  __text: MIIFcTCCBFmgAwIBAgIHAXumDkbX3zANBgkqhkiG9w0BAQsFADCBmjELMAkGA1UEBhMCREUxHzAdBgNVBAoMFmdlbWF0aWsgR21iSCBOT1QtVkFMSUQxSDBGBgNVBAsMP0luc3RpdHV0aW9uIGRlcyBHZXN1bmRoZWl0c3dlc2Vucy1DQSBkZXIgVGVsZW1hdGlraW5mcmFzdHJ1a3R1cjEgMB4GA1UEAwwXR0VNLlNNQ0ItQ0EyNCBURVNULU9OTFkwHhcNMjAwNjEwMDAwMDAwWhcNMjUwNjA5MjM1OTU5WjCB+DELMAkGA1UEBhMCREUxFDASBgNVBAcMC03DvGhsaGF1c2VuMQ4wDAYDVQQRDAU5OTk3NDEeMBwGA1UECQwVTGFuZ2Vuc2FsemFlciBTdHIuIDI1MSowKAYDVQQKDCEzLVNNQy1CLVRlc3RrYXJ0ZS04ODMxMTAwMDAxMjkwNjgxHTAbBgNVBAUTFDgwMjc2ODgzMTEwMDAwMTI5MDY4MRQwEgYDVQQEDAtCbGFua2VuYmVyZzEWMBQGA1UEKgwNRG9taW5pay1QZXRlcjEqMCgGA1UEAwwhQXBvdGhla2UgYW0gU3BvcnR6ZW50cnVtVEVTVC1PTkxZMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjVMEf2TTXlfkuCDyiMpo96jA5XRvkaHTy+4qTcDR1awUP4yemfKsB1BTWMMSDrA1/2YdnlZJeynEnQi0K4LWMvTcq+CRGi4ghcIokb2TURZXZ1K6FTJHqITojp9ZRaNTap+kIpOZCmSRa7ftRzEgooPjG6C+7XxUViczlVE17UJMPavWQfY2+A1M/0vx9Jbi7wPmXCMuEvj7yEAVRCGQExVxzbLZPE7FS/vlXcwkFtmnMUVWiQFFXlVLG7uUc9CQFvTXPT5ppDhxAmVeUBLNXKruDkpSeuq3sCi93ln9hXXw/xPeNAAehtvxFp6eMGf5LEVGvZj8v51qu4eDPaKtJwIDAQABo4IBWjCCAVYwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDgYDVR0PAQH/BAQDAgWgMB0GA1UdDgQWBBSEkJ1lgmhiHfVZyKKyVw2Qd86PPDA4BggrBgEFBQcBAQQsMCowKAYIKwYBBQUHMAGGHGh0dHA6Ly9laGNhLmdlbWF0aWsuZGUvb2NzcC8wDAYDVR0TAQH/BAIwADAgBgNVHSAEGTAXMAoGCCqCFABMBIEjMAkGByqCFABMBE0wHwYDVR0jBBgwFoAUeunhb+oUWRYF7gPp0/0hq97p2Z4wgYQGBSskCAMDBHsweaQoMCYxCzAJBgNVBAYTAkRFMRcwFQYDVQQKDA5nZW1hdGlrIEJlcmxpbjBNMEswSTBHMBcMFcOWZmZlbnRsaWNoZSBBcG90aGVrZTAJBgcqghQATAQ2EyEzLVNNQy1CLVRlc3RrYXJ0ZS04ODMxMTAwMDAxMjkwNjgwDQYJKoZIhvcNAQELBQADggEBAGwmbkXMdRrIZwTzUVsdH6RUB7cc3+CcDN0NqLSOM7sdCQrr5NfzcK2dzhc77KVzviZbvz6MxfEq47Y/dPMmtVlU0Amw5bbnYT4WnadjrLOHnKCxLFssrfo0izB7IJvBswMQl/KnUXbk/X57KcNKTYOfuCVVVt+yET63N4qp9YOPiMdCHxu+BUvgwmOgr/enRnh+HgCYVQtzLmDXimBcneRoZg3XgukoMQPd5TlVlZAF1JZ6W8uGN+LEiddnHdzYFVInest3xMzwHj4T3lXLCkr6oc9jvwKe2A2qsBvcbEFDR0mi0CW9NjfJ05v/52GKZZZyjEnFjnHJ1J5r1DlD5S8=
                          _xmlns: 'http://ws.gematik.de/conn/ConnectorCommon/v5.0'
                          '_xmlns:ns2': 'http://ws.gematik.de/conn/ConnectorContext/v2.0'
                          '_xmlns:ns3': 'http://ws.gematik.de/conn/CertificateService/v7.4'
                          '_xmlns:ns4': 'http://ws.gematik.de/tel/error/v2.0'
                          '_xmlns:ns5': 'http://ws.gematik.de/conn/CertificateServiceCommon/v2.0'
                          '_xmlns:ns6': 'http://www.w3.org/2000/09/xmldsig#'
                          '_xmlns:ns7': 'urn:oasis:names:tc:dss:1.0:core:schema'
                          '_xmlns:ns8': 'urn:oasis:names:tc:SAML:1.0:assertion'
                      '_xmlns:soap': 'http://schemas.xmlsoap.org/soap/envelope/'
                properties:
                  Envelope:
                    type: object
                    properties:
                      Body:
                        type: object
                        properties:
                          ReadCardCertificateResponse:
                            type: object
                            properties:
                              Status:
                                type: object
                                properties:
                                  Result:
                                    type: string
                              X509DataInfoList:
                                type: object
                                properties:
                                  X509DataInfo:
                                    type: object
                                    properties:
                                      X509Data:
                                        type: object
                                        properties:
                                          X509Certificate:
                                            type: object
                                            properties:
                                              __text:
                                                type: string
                              _xmlns:
                                type: string
                              '_xmlns:ns2':
                                type: string
                                description: |
                                  Der Konnektor liefert das Zertifikat in <ns5:X509Certificate> zurück, wie es auf der Karte gespeichert ist, ASN.1 DER codiert in Base64-Darstellung.
                              '_xmlns:ns3':
                                type: string
                              '_xmlns:ns4':
                                type: string
                              '_xmlns:ns5':
                                type: string
                              '_xmlns:ns6':
                                type: string
                              '_xmlns:ns7':
                                type: string
                              '_xmlns:ns8':
                                type: string
                      '_xmlns:soap':
                        type: string
              example:
                <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
                    <soap:Body>
                        <ns3:ReadCardCertificateResponse xmlns="http://ws.gematik.de/conn/ConnectorCommon/v5.0"
                            xmlns:ns2="http://ws.gematik.de/conn/ConnectorContext/v2.0"
                            xmlns:ns3="http://ws.gematik.de/conn/CertificateService/v7.4"
                            xmlns:ns4="http://ws.gematik.de/tel/error/v2.0"
                            xmlns:ns5="http://ws.gematik.de/conn/CertificateServiceCommon/v2.0"
                            xmlns:ns6="http://www.w3.org/2000/09/xmldsig#"
                            xmlns:ns7="urn:oasis:names:tc:dss:1.0:core:schema"
                            xmlns:ns8="urn:oasis:names:tc:SAML:1.0:assertion">
                            <Status>
                                <Result>OK</Result>
                            </Status>
                            <ns5:X509DataInfoList>
                                <ns5:X509DataInfo>
                                    <ns5:X509Data>
                                        <ns5:X509Certificate>MIIFcTCCBFmgAwIBAgIHAXumDkbX3zANBgkqhkiG9w0BAQsFADCBmjELMAkGA1UEBhMCREUxHzAdBgNVBAoMFmdlbWF0aWsgR21iSCBOT1QtVkFMSUQxSDBGBgNVBAsMP0luc3RpdHV0aW9uIGRlcyBHZXN1bmRoZWl0c3dlc2Vucy1DQSBkZXIgVGVsZW1hdGlraW5mcmFzdHJ1a3R1cjEgMB4GA1UEAwwXR0VNLlNNQ0ItQ0EyNCBURVNULU9OTFkwHhcNMjAwNjEwMDAwMDAwWhcNMjUwNjA5MjM1OTU5WjCB+DELMAkGA1UEBhMCREUxFDASBgNVBAcMC03DvGhsaGF1c2VuMQ4wDAYDVQQRDAU5OTk3NDEeMBwGA1UECQwVTGFuZ2Vuc2FsemFlciBTdHIuIDI1MSowKAYDVQQKDCEzLVNNQy1CLVRlc3RrYXJ0ZS04ODMxMTAwMDAxMjkwNjgxHTAbBgNVBAUTFDgwMjc2ODgzMTEwMDAwMTI5MDY4MRQwEgYDVQQEDAtCbGFua2VuYmVyZzEWMBQGA1UEKgwNRG9taW5pay1QZXRlcjEqMCgGA1UEAwwhQXBvdGhla2UgYW0gU3BvcnR6ZW50cnVtVEVTVC1PTkxZMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjVMEf2TTXlfkuCDyiMpo96jA5XRvkaHTy+4qTcDR1awUP4yemfKsB1BTWMMSDrA1/2YdnlZJeynEnQi0K4LWMvTcq+CRGi4ghcIokb2TURZXZ1K6FTJHqITojp9ZRaNTap+kIpOZCmSRa7ftRzEgooPjG6C+7XxUViczlVE17UJMPavWQfY2+A1M/0vx9Jbi7wPmXCMuEvj7yEAVRCGQExVxzbLZPE7FS/vlXcwkFtmnMUVWiQFFXlVLG7uUc9CQFvTXPT5ppDhxAmVeUBLNXKruDkpSeuq3sCi93ln9hXXw/xPeNAAehtvxFp6eMGf5LEVGvZj8v51qu4eDPaKtJwIDAQABo4IBWjCCAVYwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDgYDVR0PAQH/BAQDAgWgMB0GA1UdDgQWBBSEkJ1lgmhiHfVZyKKyVw2Qd86PPDA4BggrBgEFBQcBAQQsMCowKAYIKwYBBQUHMAGGHGh0dHA6Ly9laGNhLmdlbWF0aWsuZGUvb2NzcC8wDAYDVR0TAQH/BAIwADAgBgNVHSAEGTAXMAoGCCqCFABMBIEjMAkGByqCFABMBE0wHwYDVR0jBBgwFoAUeunhb+oUWRYF7gPp0/0hq97p2Z4wgYQGBSskCAMDBHsweaQoMCYxCzAJBgNVBAYTAkRFMRcwFQYDVQQKDA5nZW1hdGlrIEJlcmxpbjBNMEswSTBHMBcMFcOWZmZlbnRsaWNoZSBBcG90aGVrZTAJBgcqghQATAQ2EyEzLVNNQy1CLVRlc3RrYXJ0ZS04ODMxMTAwMDAxMjkwNjgwDQYJKoZIhvcNAQELBQADggEBAGwmbkXMdRrIZwTzUVsdH6RUB7cc3+CcDN0NqLSOM7sdCQrr5NfzcK2dzhc77KVzviZbvz6MxfEq47Y/dPMmtVlU0Amw5bbnYT4WnadjrLOHnKCxLFssrfo0izB7IJvBswMQl/KnUXbk/X57KcNKTYOfuCVVVt+yET63N4qp9YOPiMdCHxu+BUvgwmOgr/enRnh+HgCYVQtzLmDXimBcneRoZg3XgukoMQPd5TlVlZAF1JZ6W8uGN+LEiddnHdzYFVInest3xMzwHj4T3lXLCkr6oc9jvwKe2A2qsBvcbEFDR0mi0CW9NjfJ05v/52GKZZZyjEnFjnHJ1J5r1DlD5S8=
                                        </ns5:X509Certificate>
                                    </ns5:X509Data>
                                </ns5:X509DataInfo>
                            </ns5:X509DataInfoList>
                        </ns3:ReadCardCertificateResponse>
                    </soap:Body>
                </soap:Envelope>
      parameters:
        - schema:
            type: string
            example: text/xml; charset=UTF-8
            default: text/xml; charset=UTF-8
          in: header
          name: Content-Type
        - schema:
            type: string
            default: '1234'
          in: header
          name: Content-Length
          description: '1234'
        - schema:
            type: string
            default: '1234'
          in: header
          name: SOAPAction
          description: '"http://ws.gematik.de/conn/CertificateService/v7.4#ReadCardCertificate"'
      requestBody:
        content:
          text/xml:
            schema:
              type: object
              properties:
                Envelope:
                  type: object
                  properties:
                    Body:
                      type: object
                      properties:
                        ReadCardCertificate:
                          type: object
                          properties:
                            CardHandle:
                              type: object
                              properties:
                                __text:
                                  type: string
                            Context:
                              type: object
                              properties:
                                MandantId:
                                  type: object
                                  properties:
                                    __text:
                                      type: string
                                ClientSystemId:
                                  type: object
                                  properties:
                                    __text:
                                      type: string
                                WorkplaceId:
                                  type: object
                                  properties:
                                    __text:
                                      type: string
                            CertRefList:
                              type: object
                              properties:
                                CertRef:
                                  type: object
                                  properties:
                                    __text:
                                      type: string
                            '_xmlns:ns2':
                              type: string
                            '_xmlns:ns3':
                              type: string
                            '_xmlns:ns4':
                              type: string
                            '_xmlns:ns5':
                              type: string
                            '_xmlns:ns6':
                              type: string
                            '_xmlns:ns7':
                              type: string
                            '_xmlns:ns8':
                              type: string
                            '_xmlns:ns9':
                              type: string
                    '_xmlns:S':
                      type: string
              x-examples:
                Example 1:
                  Envelope:
                    Body:
                      ReadCardCertificate:
                        CardHandle:
                          __text: smc-b_2
                        Context:
                          MandantId:
                            __text: Mandant1
                          ClientSystemId:
                            __text: myPVS
                          WorkplaceId:
                            __text: WP1
                        CertRefList:
                          CertRef:
                            __text: C.AUT
                        '_xmlns:ns2': 'http://ws.gematik.de/conn/CertificateServiceCommon/v2.0'
                        '_xmlns:ns3': 'urn:oasis:names:tc:dss:1.0:core:schema'
                        '_xmlns:ns4': 'http://www.w3.org/2000/09/xmldsig#'
                        '_xmlns:ns5': 'http://ws.gematik.de/conn/ConnectorCommon/v5.0'
                        '_xmlns:ns6': 'http://ws.gematik.de/tel/error/v2.0'
                        '_xmlns:ns7': 'urn:oasis:names:tc:SAML:1.0:assertion'
                        '_xmlns:ns8': 'http://ws.gematik.de/conn/CertificateService/v7.4'
                        '_xmlns:ns9': 'http://ws.gematik.de/conn/ConnectorContext/v2.0'
                    '_xmlns:S': 'http://schemas.xmlsoap.org/soap/envelope/'
            examples:
              ex1:
                value: example1
              ex2:
                value: example2
        description: 'Der Konnektor liefert das Zertifikat in <ns5:X509Certificate> zurück, wie es auf der Karte gespeichert ist, ASN.1 DER codiert in Base64-Darstellung.'
      description: |-
        Der Konnektor authentifiziert Nutzer anhand einer kartengebundenen, kryptografischen Identität. Die Karte hält den privaten Schlüssel zu dieser Identität, welcher für die Signatur über eine Challenge des IDP genutzt wird. Zur Prüfung der Signatur benötigt der IDP das Zertifikat dieser Identität. Dieses enthält den öffentlichen Schlüssel für die kryptografische Signaturprüfung sowie weitere Nutzerinformationen (Name, KVNR/Telematik-ID, fachliche Rolle), die der IDP in Identitätsbestätigungen zur Nutzung gegenüber dem E-Rezept-Fachdienst attestiert. Der Abruf des Zertifikats erfolgt über die Konnektor-Operation ReadCertificate.

        ---
        **NOTE**

        In <ns8:CertRef>C.AUT</ns8:CertRef> wird angegeben, dass das Zertifikat zur Authentisierung gegenüber dem IDP aus der SMC-B ausgelesen werden soll.

        ---
      tags:
        - read_certificate
components:
  schemas: {}
