body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.row-use {
    background-color: #E3FCEF;
    color: #000000;
}

.row-not-use {
    background-color: #FFEBE6;
    color: #000000;
}

.row-extension {
    background-color: #FFFAE6;
    color: #000000;
}

.row-manual {
    background-color: #B3F5FF;
    color: #000000;
}

.row-other {
    background-color: #FFBDAD;
    color: #000000;
}


.dataTables_wrapper {
    margin: 20px 0;
}